CONFIG_TARGET_x86=y
CONFIG_TARGET_x86_64=y
CONFIG_TARGET_x86_64_DEVICE_generic=y
CONFIG_TARGET_KERNEL_PARTSIZE=60
# CONFIG_TARGET_ROOTFS_EXT4FS is not set
CONFIG_TARGET_ROOTFS_PARTSIZE=960
# CONFIG_TARGET_ROOTFS_TARGZ is not set

CONFIG_VMDK_IMAGES=y

# CONFIG_GRUB_EFI_IMAGES is not set

CONFIG_PACKAGE_kmod-vmxnet3=y
  
# CONFIG_PACKAGE_dnsmasq is not set
CONFIG_PACKAGE_dnsmasq-full=y

CONFIG_PACKAGE_luci=y
